* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial
}

body {
    background: var(--bg);
    color: #111
}

header {
    background: black;
    color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
    padding: 25px 0;
    position: sticky;
    top: 0;
    z-index: 10
}

nav {

    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: 600
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 14px
}

.topo img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
}

.hero {
    max-width: var(--max-width);
    margin: 40px auto;
    padding: 0 20px
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #000
}

.section {
    max-width: var(--max-width);
    margin: 40px auto;
    padding: 0 20px
}

.cols {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
}

.card {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .06)
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
}

.card ul {
    margin-top: 10px;
    padding-left: 18px;
    color: var(--muted)
}

.posts,
.galeria,
.projetos,
.feedback {
    margin-top: 40px
}

.carrossel{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-card {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .06);
    margin-top: 20px;

    img{
        height: 200px;
        width: 200px;
    }
}

.post-card h3 {
    margin-bottom: 8px;
    color: #000;
    font-size: 18px
}

.btn {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 18px;
    background: var(--accent);
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    border-style:solid;
    border-color: black;
}

form {
    display: grid;
    gap: 12px;
    margin-top: 20px
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px
}

button {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    border-style:solid;
    border-color: black;
    cursor: pointer
}

footer {
    text-align: center;
    font-size: 12px;
    color: var(--muted);
    margin: 60px 0 20px
}